*,
*::after,
*::before{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    margin: 0 auto;
}

.row{
    display: flex;
    flex-flow: row wrap;
}

.between{
    justify-content: space-between;
}

.around{
    justify-content: space-around;
}

.evenly{
    justify-content: space-evenly;
}

.end{
    justify-content: flex-end;
}

.middle{
    align-items: center;
}

.center{
    text-align: center;
    justify-content: center;
}